<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:util="http://www.springframework.org/schema/util"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util.xsd">
	<!-- bean definitions here -->

	<bean class="com.project.spring.core.si.collections3.Answers" name="answer1">
		<property name="id">
			<value>1</value>
		</property>
		<property name="name">
			<value>Java is a programming language</value>
		</property>
		<property name="by">
			<value>Thanendra Kashyap</value>
		</property>
	</bean>

	<bean class="com.project.spring.core.si.collections3.Answers" name="answer2">
		<property name="id">
			<value>2</value>
		</property>
		<property name="name">
			<value>Java is a Platform</value>
		</property>
		<property name="by">
			<value>Thanendra</value>
		</property>
	</bean>

	<bean class="com.project.spring.core.si.collections3.Questions" name="ques1">
		<property name="id">
			<value>160</value>
		</property>
		<property name="name">
			<value>What is Java</value>
		</property>
		<property name="answers">
			<util:list list-class="java.util.LinkedList">
					<ref bean="answer1" />
					<ref bean="answer2" />
			</util:list>
		</property>
	</bean>

</beans>