<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
         <!-- bean definitions here -->

	<bean class="com.project.spring.core.si.pojo.Employee" name="emp1">
		<property name="empName">
			<value>Thanendra</value>
		</property>		
		<property name="empId">
			<value>160</value>
		</property>
	</bean>		  
	
	<bean class="com.project.spring.core.si.pojo.Employee" name="emp2">
		<property name="empName" value="Thanendra Kashyap" />
		<property name="empId" value="160" />
	</bean>		  
	
	<bean class="com.project.spring.core.si.pojo.Employee" name="emp3" 
	p:empName="Dr. Thanendra Kashyap" p:empId="160" />

</beans>